[Desktop Entry]
Type=Application
Exec=/usr/bin/x-www-browser --new-window "https://flow.microsoft.com/manage/"
GenericName=Microsoft Office Workflows
Comment[en_US]=Microsoft Office Workflows
Icon=/usr/share/icons/Flow.PNG
Categories=Microsoft Office Online
Name=Microsoft Office Flow
